body {
    min-height: 100vh;
    background: #090909;
    font-family: Arial, Helvetica, sans-serif;
}

section {

}

.container {
    max-width: 1280px;
    margin: 0 auto;
    height: 100%;
    padding: 20px;
}

.social-network {
    display: inline-flex;
}

.navigation {
    display: flex;
    align-items: center;
}

.container-nav {

}

.header {
    background-color: #080808;
}

.social-vk {
    margin-right: 16px;
    margin-left: auto;
}

.social-tg {
    margin-right: 16px;
}

.first-screen {
    height: 600px;
    background: url('../images/sneakers-2.jpg') center/contain no-repeat #000000;
}

.first-screen-content {
    display: flex;
    justify-content: center;
    align-items: end;
}

.button {
    background: linear-gradient(#175cd8, #ad1fe1);
    padding: 10px 40px;
    display: block;
    color: #c4c4c4;
    border: none;
    box-shadow: 0 0 50px 5px #ad1fe1;
    border-radius: 15px;
}

.search {
    background:#080808;
    color: #fff;
    border: 1px solid #999;
}

.mirror {
    transform: scale(1, -1);
    opacity: 0.2;
}

.buttons {
    display: flex;
    flex-direction: column;
    }

    .vertical-line {
        border-left: 2px solid #175cd8;
        height: 100%;
        position: absolute;
        left: 50%;
        /* background: linear-gradient(#175cd8, #ad1fe1); */
        box-shadow: 0 0 20px 5px #ad1fe1;
    }

    .horizontal line {
        /* background: linear-gradient(#175cd8, #ad1fe1); */
        color: #ad1fe1;
    }

    p {
        color: #999;
        font-size: 18px;
        line-height: 1.4em;
        padding-left: 15px;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-right: 15px;
        text-align: center;
        background: linear-gradient(#175cd8, #ad1fe1);
        border-radius: 25px;
        /* border-bottom: #ad1fe1 2px solid; */
        
    }

    .specifications-depreciation {
        color: #fff;
        text-align: center;
        margin-top: 50px;
        padding-bottom: 20px;
    }

    .specifications {
        width: 50%;
    }

    .specifications-protector {
        width: 50%;
        margin-top: 50px;
        margin-left: 50%;
    }

    .protector {
        text-align: center;
        color: #fff;
        padding-bottom: 20px;
    }

    .specifications-stabilizing-elements {
        color: #fff;
        text-align: center;
        width: 50%;
        margin-top: 50px;
    }

    .stabilizing-elements {
        color: #fff;
        text-align: center;
        padding-bottom: 20px;
    }
    .Construction {
        width: 50%;
        margin-top: 50px;
        margin-left: 50%;
    }

    .Construction-material {
        color: #fff;
        text-align: center;
        padding-bottom: 20px;
    }

    .characteristics-list {
        position: relative;
    }

    .characteristics-text{
        color: #fff;
        text-align: center;
    }